body {
    background-color: #CFD8DC;
}

.navbar {
    background-color: #2196F3;
}

.container.n-card {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: white;
}

.btn-primary {
    color: white !important;
}

.btn-menu > * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.btn-menu:before{
    content:'';
    padding:50% 0; /* vertical value as  100% equals width */
    display:inline-block;
}